<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.techstar.pvms.backend.module.stationarchive.repository.StationArchiveCompanyMapper">

    <select id="findAll" resultType="cn.techstar.pvms.backend.module.stationarchive.repository.StationArchiveCompanyMapper$CompanyRow">
        SELECT id, name, region, sort_index
        FROM sa_company
        ORDER BY sort_index
    </select>

</mapper>
